@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: #F7F7F7; //overflow-y: hidden;
    font-family: "open sans";
}

input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

.max_width {
    max-width: 800px;
    margin: 0 auto;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */


/*** Content LHS ***/
#content_lhs {
    min-height: 150vh;
    //background-color: #666;

    .lhs_section_div {
        min-height: 50vh;

        h2 {
            font-family: poppins;
            font-size: 40px;
            font-weight: 600;
            margin-top: 50px;
            color: #fff;
            text-align: center;
        }
    }

    .wiki_article_div {
        background-color: #fff;
        //margin-top: 15px;
        padding: 30px;
        padding-bottom: 0px;

        .article_title_h3 {
            color: #242424;
            font-family: poppins;
            font-size: 32px;
            margin: 15px 0px;
            margin-top: 0px;
            line-height: 1.45em;
        }

        .article_title_h5 {
            color: #343434;
            font-family: poppins;
            font-size: 20px;
        }

        .article_author {
            margin-bottom: 30px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                margin-right: 10px;
            }

            p {
                margin-bottom: 0px;
                font-size: 15px;
                font-weight: 600;
            }
        }

        .article_image {
            height: 350px;

            img {
                height: 400px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .article_summary {
            margin-top: 30px;
            margin-bottom: 30px;

            p {
                font-family: "open sans";
                line-height: 1.75em;
            }
        }
    }
    
}
/*** Content LHS ***/

/*** Sidebar ***/
#sidebar {
    height: 100vh;
    background-color: #fff;
    position: fixed;
    right: 0;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 40px 0px;
    //overflow: auto;

    /* Sidebar Header */
    &__header {
        height: 65px;
        padding: 20px;

        #category_name {
            h2 {
                font-weight: 600;
                color: #000;
                font-family: "open sans";
                font-size: 17px;
            }   
        }

        i {
            color: #000;
        }
    }
    /* Sidebar Header */

    /* Sidebar Image */
    &__image {
        height: 180px;
        padding: 0px;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
    /* Sidebar Image */

    /* Sidebar Item Name */
    &__item_name {
        /* min-height: 60px;
        background-color: #F8D24B; */
        min-height: 60px;
        //background-color: #F44336;
        background-color: #CC461B;
        color: #fff;

        h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5em;
        }
    }
    /* Sidebar Item Name */

    /* Sidebar Menu */
    &__menu {
        height: 60px;
        background-color: #F7F7F7;
        padding: 0px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        ul{
            width: 100%;
            height: 100%;
            padding: 0px;
            list-style: none;
            display: flex;
            
          }
          
          li{
            position: relative;
            font-family: 'poppins', sans-serif;
            font-size: 15px;
            display: inline-block;
            padding: 0px;
            color: #000;
            font-weight: 600;
            width: auto;
            //min-width: 100px;
            display: flex;
            align-items: center;
            height: 60px;
            outline: none;
          }
          
          a{
            text-decoration: none;
            color: #747474;
            padding: 0px 15px;
            outline: none;
          }
          
          .link{
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            margin-right: 2px;
            font-weight: 400;
            transition: all 0.3s ease;
            font-weight: 600;
            white-space: nowrap;
          }

          .link.active {
              color: #000;
          }
          
          .link:after{
            content: '';
            position: absolute;
            bottom: 0px;
            width: 0;
            height: 3px;
            display: block;
            margin-top: 5px;
            right: 0;
            background: #f7f7f7;
            transition: width .2s ease;
            -webkit-transition: width .2s ease;
          }
           
          .link:hover:after{
            width: 100%;
            left: 0;
            background: #FF8800;
          }    

          .link:hover {
            color: #000;
          }
                
          .link.active:after{
            width: 100%;
            left: 0;
            background: #FF8800;
          }          
    }
    /* Sidebar Menu */

    /* Sidebar Content */
    .sidebar__content {
        width: 100%;
        //min-height: 500px;
        height: calc(100vh - 65px);
        padding: 15px;
        //overflow-y: auto;
        display: none;
        background-color: #E8E8E8;

        #generated_content {
            position: relative;
        }

        &.active {
            display: block;
        }

        .content_div {
            margin-bottom: 15px;
            background-color: #fff;
            padding: 10px;
            //min-height: 100px;
            border-radius: 4px;
            transition: all 0.3s ease;
            cursor: pointer;

            &.active {
                height: auto;
                padding-bottom: 15px;

                .img_text_container {
                    display: block;
                }

                .card_img {
                    width: 100%;
                    margin-bottom: 10px;
                    transition: all 0.3s ease;
                    padding: 0px 0px 0px 0px;
                    img {
                        min-height: 150px;
                        width: 100%;
                        object-fit: cover;
                        transition: all 0.3s ease;
                    } 
                }
    
    
                .card_text {
                    width: 100%;
                    padding: 0px 0px 0px 0px;
                    display: flex;
                    flex-direction: column;
                    transition: all 0.3s ease;
                    //justify-content: space-between;
                }

                .card_description {
                    transition: all 0.3s ease;
                    height: auto;
                    overflow: auto;
                }

                .card_expand_icon {
                    padding: 6px 7px;
                    border-radius: 25px;
                    background-color: #FF5722;
                    display: flex;
                    align-items: center;

                    i {
                        color: #fff;
                        font-size: 13px;
                    }
                }

                .card_expand_icon {
                    right: 0px;
                }
            }

            .img_text_container {
                width: 100%;
                display: flex;
                position: relative;
            }

            .card_img {
                width: 24%;
                padding: 0px 15px 0px 0px;
                transition: all 0.3s ease;
                img {
                    min-height: 80px;
                    max-height: 80px;
                    width: 100%;
                    object-fit: cover;
                } 
            }


            .card_text {
                width: 76%;
                //padding: 0px 0px 0px 15px;
                display: flex;
                flex-direction: column;
                transition: all 0.3s ease;
                //justify-content: space-between;
            }

            .card_heading {
                margin-bottom: 10px;
                position: relative;
            }

            .card_description {
                height: 40px;
                overflow: hidden;
                transition: all 0.3s ease;
            }

            .card_expand_icon {
                position: absolute;
                right: 5px;
                top: 0px;
                cursor: pointer;

                i {
                    color: #FF5722;
                }
            }

            .card_more_icon {
                position: absolute;
                right: 15px;
                bottom: 20px;

                i{
                    color: #666;
                }
            }


            h5 {
                font-family: "open sans";
                font-weight: 600;
                font-size: 15px;
                margin: 5px 0px;
                color: #000;
            }

            p {
                font-size: 13px;
                margin-bottom: 0px;
            }

            &.h_card {
                //min-width: 175px;
                max-width: 215px;
                display: inline-block;
                margin-right: 10px;



                .card_img {
                    width: 40%;
                    padding: 0px 15px 0px 0px;
                    transition: all 0.3s ease;
                    img {
                        min-height: 80px;
                        max-height: 80px;
                        width: 100%;
                        object-fit: cover;
                    } 
                }
    
    
                .card_text {
                    width: 60%;
                    //padding: 0px 0px 0px 15px;
                    display: flex;
                    flex-direction: column;
                    transition: all 0.3s ease;
                    //justify-content: space-between;
                }

                &.active {
                    .card_img {
                        width: 100%;
                        padding-right: 0px;
                    }

                    .card_text {
                        width:100%;
                    }

                    .card_description {
                        white-space: initial;
                    }
                }

            }

        }

        .horizontal_card_container {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }

        #mCSB_2_container {
            display: flex;
            align-items: flex-start;
        }
    }
    /* Sidebar Content */
}
/*** Sidebar ***/

//For dynamically loaded content, container
.mCSB_horizontal.mCSB_outside>.mCSB_container {
    min-height: 100%;
    display: flex;
    align-items: flex-start;
}